body {
  /* Prevent the user selecting text in the example */
  /* user-select: none; */
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

#draggable {
  background: pink;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
